<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="后台管理" />
		<!-- 作者 -->
		<meta name="revised" content="后台管理.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>后台管理界面</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/iconfont.css">
		<script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
		<script type="text/javascript" src="/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
		<script src="/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="/framework/jquery.mousewheel.min.js"></script>
		<script src="/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

	</head>

	<body>
		<div class="cBody">
			<div class="console">
				<form class="layui-form" action="/manageBook/searchBook">
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<input type="text" name="name" required lay-verify="required" placeholder="输入书籍名称" autocomplete="off" class="layui-input">
						</div>
						<button class="layui-btn" lay-submit >检索</button>
					</div>
				</form>

				<script>
					layui.use('form', function() {
						var form = layui.form;
				
						//监听提交
						form.on('submit(formDemo)', function(data) {
							layer.msg(JSON.stringify(data.field));
							return false;
						});
					});
				</script>
			</div>
			
			<table class="layui-table">
				<thead>
					<tr>
						<th>书籍名称</th>
						<th>书籍种类</th>
						<th>书籍价格</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="book : ${pageInfo.list}">
						<td th:text="${book.name}"></td>
						<td th:text="${book.type}"></td>
						<td th:text="${book.price}"></td>
						<td>
							<button class="layui-btn layui-btn-xs layui-btn-danger"><div th:onclick="'deleteBook('+${book.id}+')'">删除</div></button>
							<button class="layui-btn layui-btn-xs layui-btn-normal"><a th:href="@{/manageBook/toUpdateBook(id=${book.id})}">修改</a></button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- 分页模块改造 -->
			<div id="pages2">
				<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
					<div style="float: left;"><span class="layui-laypage-count">共 [[${pageInfo.total}]] 条</span></div>
					<div style="float: left;"><a th:if="${pageInfo.hasPreviousPage}"  th:href="'/manageBook/toAgentList?pageNo='+${pageInfo.prePage}" class="layui-laypage-prev layui-disabled">上一页</a></div>
					<div width="10%" th:each="nav : ${pageInfo.navigatepageNums}" style="float: left;">
						<a th:href="'/manageBook/toAgentList?pageNo='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
						<span style="font-weight: bold;background-color: #009688;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}"></span>
					</div>
					<div style="float: left;"><a th:if="${pageInfo.hasNextPage}" th:href="'/manageBook/toAgentList?pageNo='+${pageInfo.nextPage}" class="layui-laypage-next">下一页</a></div>
				</div>
			</div>


		</div>

		<!--删除功能js-->
		<script>
			function deleteBook(id){
				window.event.returnValue=false;
				let msg = "您确定要删除该条数据吗？";
				if (confirm(msg)==true){
					$.ajax({
						type: "POST",
						dataType: "json",
						url: "/manageBook/deleteOneBook" ,
						data: {
							id:id,
						},
						success: function (result) {
							window.alert(result);
							window.location.href = "/manageBook/toAgentList";
						},
						error : function() {
							alert("异常！");
						}
					});
				}else{
					return false;
				}

			}
		</script>
	</body>

</html>