<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="后台管理" />
		<!-- 作者 -->
		<meta name="revised" content="后台管理.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>后台管理</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<link rel="bookmark" href="/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/iconfont.css">
		<script type="text/javascript" src="/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
	    <!--[if lt IE 9]>
    <script src="/framework/html5shiv.min.js"></script>
    <script src="/framework/respond.min.js"></script>
    <![endif]-->
		<script type="text/javascript" src="/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
		<script src="/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="/framework/jquery.mousewheel.min.js"></script>
		<script src="/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="/css/frameStyle.css">
		<script type="text/javascript" src="/framework/frame.js" th:inline="javascript"></script>
		<script type="text/javascript" th:inline="javascript">
			//二级菜单点击后的处理方法
			function menuCAClick1(url,_this){

				var managename=[[${managename}]];

				//处理frameMain url地址
				$("#mainIframe").attr("src",url+managename);

				//处理frameMain title名称变化
				if($(_this).find("i").attr("class") == "iconfont icon-yonghu1"){
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>个人资料');
					return;
				}
				if($(_this).text() == "修改密码"){
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).text());
					return;
				}
				if($(_this).attr("class") == "menuFA"){
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).text());
				}else{
					//显示父菜单
//		$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).parent().parent().siblings(".menuFA").text());
					//显示子菜单
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).text());
				}

				//处理菜单样式变化
				$(_this).css("cssText", "background-color:#fbcc19 !important;").css("color","#FFF");
				$(_this).parent().siblings().find("a").css("cssText", "background-color:#transparent").css("color","#c2c2c2");
				$(_this).parent().parent().parent().siblings().find("dl dt a").css("cssText", "background-color:#transparent").css("color","#c2c2c2")

			};

		</script>
		
	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="/images/logo.png"/>
		        <div class="logoText">
		            <h1>后台管理系统</h1>
		            <p>WELCOME</p>
		        </div>
		    </div>
		    <div class="menu">
		        <ul>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('/toqdAPI',this)"><i class="iconfont icon-zhishi left"></i>前端API</a>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>图书管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/manageBook/toAgentAdd',this)">添加图书</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/manageBook/toAgentList',this)">图书信息</a></dt>
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>商品管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('backstage/tgls/goodsManage/goodsType_list.html',this)">分类列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('backstage/tgls/goodsManage/goods_list.html',this)">基本商品库</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('backstage/tgls/goodsManage/goods_add.html',this)">添加商品</a></dt>
		                </dl>
		            </li>


		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-icon left"></i>报表模块<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/manage/toReportForm',this)">订单统计报表</a></dt>
		                </dl>
		           	</li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="/images/top_jt.png"/>
				<div class="topMenu">
					<ul>
						<li><a href="javascript:void(0)" onclick="menuCAClick1('/manage/toModify_message?managename=',this)"><i class="iconfont icon-yonghu1"></i>[[${managename}]]</a></li>
						<li><a href="javascript:void(0)" onclick="menuCAClick1('/manage/toModify_password?managename=',this)"><i class="iconfont icon-xiugaimima"></i>修改密码</a></li>
						<li><a href="login.html"><i class="iconfont icon-084tuichu"></i>注销</a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>后台首页</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="/toqdAPI" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>