<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<!-- Header -->
<header id="wn__header" class="header__area header__absolute sticky__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <a href="index.html">
            <img src="/front/images/logo/logo.png" alt="logo images">
          </a>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li class="drop with--one--item"><a href="front/index">Home</a>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li><a href="index.html">Home Style Default</a></li>
                  <li><a href="index-2.html">Home Style Two</a></li>
                  <li><a href="index-box.html">Home Box Style</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="#">Shop</a>
              <div class="megamenu mega03">
                <ul class="item item03">
                  <li class="title">Shop Layout</li>
                  <li><a href="toShopGrid">Shop Grid</a></li>
                  <li><a href="shop-list.html">Shop List</a></li>
                  <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                  <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                  <li><a href="shop-no-sidebar.html">Shop No sidebar</a></li>
                  <li><a href="single-product.html">Single Product</a></li>
                </ul>
                <ul class="item item03">
                  <li class="title">Shop Page</li>
                  <li><a href="my-account.html">My Account</a></li>
                  <li><a href="cart.html">Cart Page</a></li>
                  <li><a href="checkout.html">Checkout Page</a></li>
                  <li><a href="wishlist.html">Wishlist Page</a></li>
                  <li><a href="error404.html">404 Page</a></li>
                  <li><a href="faq.html">Faq Page</a></li>
                </ul>
                <ul class="item item03">
                  <li class="title">Bargain Books</li>
                  <li><a href="toShopGrid">Bargain Bestsellers</a></li>
                  <li><a href="toShopGrid">Activity Kits</a></li>
                  <li><a href="toShopGrid">B&N Classics</a></li>
                  <li><a href="toShopGrid">Books Under $5</a></li>
                  <li><a href="toShopGrid">Bargain Books</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="toShopGrid">Books</a>
              <div class="megamenu mega03">
                <ul class="item item03">
                  <li class="title">Categories</li>
                  <li><a href="toShopGrid">Biography </a></li>
                  <li><a href="toShopGrid">Business </a></li>
                  <li><a href="toShopGrid">Cookbooks </a></li>
                  <li><a href="toShopGrid">Health & Fitness </a></li>
                  <li><a href="toShopGrid">History </a></li>
                </ul>
                <ul class="item item03">
                  <li class="title">Customer Favourite</li>
                  <li><a href="toShopGrid">Mystery</a></li>
                  <li><a href="toShopGrid">Religion & Inspiration</a></li>
                  <li><a href="toShopGrid">Romance</a></li>
                  <li><a href="toShopGrid">Fiction/Fantasy</a></li>
                  <li><a href="toShopGrid">Sleeveless</a></li>
                </ul>
                <ul class="item item03">
                  <li class="title">Collections</li>
                  <li><a href="toShopGrid">Science </a></li>
                  <li><a href="toShopGrid">Fiction/Fantasy</a></li>
                  <li><a href="toShopGrid">Self-Improvemen</a></li>
                  <li><a href="toShopGrid">Home & Garden</a></li>
                  <li><a href="toShopGrid">Humor Books</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="toShopGrid">Kids</a>
              <div class="megamenu mega02">
                <ul class="item item02">
                  <li class="title">Top Collections</li>
                  <li><a href="toShopGrid">American Girl</a></li>
                  <li><a href="toShopGrid">Diary Wimpy Kid</a></li>
                  <li><a href="toShopGrid">Finding Dory</a></li>
                  <li><a href="toShopGrid">Harry Potter</a></li>
                  <li><a href="toShopGrid">Land of Stories</a></li>
                </ul>
                <ul class="item item02">
                  <li class="title">More For Kids</li>
                  <li><a href="toShopGrid">B&N Educators</a></li>
                  <li><a href="toShopGrid">B&N Kids' Club</a></li>
                  <li><a href="toShopGrid">Kids' Music</a></li>
                  <li><a href="toShopGrid">Toys & Games</a></li>
                  <li><a href="toShopGrid">Hoodies</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="#">Pages</a>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li><a href="about.html">About Page</a></li>
                  <li class="label2"><a href="portfolio.html">Portfolio</a>
                    <ul>
                      <li><a href="portfolio.html">Portfolio</a></li>
                      <li><a href="portfolio-three-column.html">Portfolio 3 Column</a></li>
                      <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    </ul>
                  </li>
                  <li><a href="my-account.html">My Account</a></li>
                  <li><a href="cart.html">Cart Page</a></li>
                  <li><a href="checkout.html">Checkout Page</a></li>
                  <li><a href="wishlist.html">Wishlist Page</a></li>
                  <li><a href="error404.html">404 Page</a></li>
                  <li><a href="faq.html">Faq Page</a></li>
                  <li><a href="team.html">Team Page</a></li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="blog.html">Blog</a>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li><a href="blog.html">Blog Page</a></li>
                  <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                  <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                  <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
              </div>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li class="shop_search"><a class="search__active" href="#"></a></li>
          <li class="wishlist"><a href="#"></a></li>
          <li class="shopcart"><a class="cartbox_active" href="#"></a>
            <!-- Start Shopping Cart -->
            <div class="block-minicart minicart__active">
              <div class="minicart-content-wrapper">
                <div class="micart__close">
                  <span>close</span>
                </div>
                <div class="items-total d-flex justify-content-between">
                  <span>3 items</span>
                  <span>Cart Subtotal</span>
                </div>
                <div class="total_amount text-right">
                  <span>$66.00</span>
                </div>
                <div class="mini_action checkout">
                  <a class="checkout__btn" href="/toCart">Go to Checkout</a>
                </div>
                <div class="single__items">
                  <div class="miniproduct">
                    <div class="item01 d-flex">
                      <div class="thumb">
                        <a href="product-details.html"><img src="/front/images/product/sm-img/1.jpg" alt="product images"></a>
                      </div>
                      <div class="content">
                        <h6><a href="product-details.html">Voyage Yoga Bag</a></h6>
                        <span class="prize">$30.00</span>
                        <div class="product_prize d-flex justify-content-between">
                          <span class="qun">Qty: 01</span>
                          <ul class="d-flex justify-content-end">
                            <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item01 d-flex mt--20">
                      <div class="thumb">
                        <a href="product-details.html"><img src="/front/images/product/sm-img/3.jpg" alt="product images"></a>
                      </div>
                      <div class="content">
                        <h6><a href="product-details.html">Impulse Duffle</a></h6>
                        <span class="prize">$40.00</span>
                        <div class="product_prize d-flex justify-content-between">
                          <span class="qun">Qty: 03</span>
                          <ul class="d-flex justify-content-end">
                            <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item01 d-flex mt--20">
                      <div class="thumb">
                        <a href="product-details.html"><img src="/front/images/product/sm-img/2.jpg" alt="product images"></a>
                      </div>
                      <div class="content">
                        <h6><a href="product-details.html">Compete Track Tote</a></h6>
                        <span class="prize">$40.00</span>
                        <div class="product_prize d-flex justify-content-between">
                          <span class="qun">Qty: 03</span>
                          <ul class="d-flex justify-content-end">
                            <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mini_action cart">
                  <a class="cart__btn" href="cart.html">View and edit cart</a>
                </div>
              </div>
            </div>
            <!-- End Shopping Cart -->
          </li>
          <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
            <div class="searchbar__content setting__block">
              <div class="content-inner">
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>Currency</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <span class="currency-trigger">USD - US Dollar</span>
                      <ul class="switcher-dropdown">
                        <li>GBP - British Pound Sterling</li>
                        <li>EUR - Euro</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>Language</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <span class="currency-trigger">English01</span>
                      <ul class="switcher-dropdown">
                        <li>English02</li>
                        <li>English03</li>
                        <li>English04</li>
                        <li>English05</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>Select Store</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <span class="currency-trigger">Fashion Store</span>
                      <ul class="switcher-dropdown">
                        <li>Furniture</li>
                        <li>Shoes</li>
                        <li>Speaker Store</li>
                        <li>Furniture</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    <span>My Account</span>
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <div class="setting__menu">
                        <span><a href="#">Compare Product</a></span>
                        <span><a href="#">My Account</a></span>
                        <span><a href="#">My Wishlist</a></span>
                        <span><a href="#">Sign In</a></span>
                        <span><a href="#">Create An Account</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Start Mobile Menu -->
    <div class="row d-none">
      <div class="col-lg-12 d-none">
        <nav class="mobilemenu__nav">
          <ul class="meninmenu">
            <li><a href="index.html">Home</a>
              <ul>
                <li><a href="index.html">Home Style Default</a></li>
                <li><a href="index-2.html">Home Style Two</a></li>
                <li><a href="index-box.html">Home Box Style</a></li>
              </ul>
            </li>
            <li><a href="#">Pages</a>
              <ul>
                <li><a href="about.html">About Page</a></li>
                <li><a href="portfolio.html">Portfolio</a>
                  <ul>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="portfolio-three-column.html">Portfolio 3 Column</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                  </ul>
                </li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="cart.html">Cart Page</a></li>
                <li><a href="checkout.html">Checkout Page</a></li>
                <li><a href="wishlist.html">Wishlist Page</a></li>
                <li><a href="error404.html">404 Page</a></li>
                <li><a href="faq.html">Faq Page</a></li>
                <li><a href="team.html">Team Page</a></li>
              </ul>
            </li>
            <li><a href="toShopGrid">Shop</a>
              <ul>
                <li><a href="toShopGrid">Shop Grid</a></li>
                <li><a href="shop-list.html">Shop List</a></li>
                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                <li><a href="shop-no-sidebar.html">Shop No sidebar</a></li>
                <li><a href="single-product.html">Single Product</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a>
              <ul>
                <li><a href="blog.html">Blog Page</a></li>
                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Mobile Menu -->
    <div class="mobile-menu d-block d-lg-none">
    </div>
    <!-- Mobile Menu -->
  </div>
</header>
<!-- //Header -->

<!-- Footer Area -->
<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
  <div class="footer-static-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer__widget footer__menu">
            <div class="ft__logo">
              <a href="index.html">
                <img src="/front/images/logo/3.png" alt="logo">
              </a>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered duskam alteration variations of passages</p>
            </div>
            <div class="footer__content">
              <ul class="social__net social__net--2 d-flex justify-content-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-google"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="#"><i class="bi bi-youtube"></i></a></li>
              </ul>
              <ul class="mainmenu d-flex justify-content-center">
                <li><a href="index.html">Trending</a></li>
                <li><a href="index.html">Best Seller</a></li>
                <li><a href="index.html">All Product</a></li>
                <li><a href="index.html">Wishlist</a></li>
                <li><a href="index.html">Blog</a></li>
                <li><a href="index.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright__wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="copyright">
            <div class="copy__right__inner text-left">
              <p>Copyright <i class="fa fa-copyright"></i> <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Boighor.</a> All Rights Reserved</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="payment text-right">
            <img src="/front/images/icons/payment.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //Footer Area -->


头部
<!--<div th:replace="~{commons/bar::#wn__header}"></div>-->
尾部
<!--<div th:replace="~{commons/bar::#wn__footer}"></div>-->


</body>
</html>