<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="/css/base.css">
		<link rel="stylesheet" type="text/css" href="/css/iconfont.css">
		<script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
		<script type="text/javascript" src="/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css">
		<script src="/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="/framework/jquery.mousewheel.min.js"></script>
		<script src="/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

		<script type="text/javascript" th:inli ne="javascript">
			//二级菜单点击后的处理方法
			function menuCAClick(url,_this){

				var managename=[[${manager.username}]];

				//处理frameMain url地址
				$("#mainIframe").attr("src",url+managename);

				//处理frameMain title名称变化
				if($(_this).find("i").attr("class") == "iconfont icon-yonghu1"){
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>个人资料');
					return;
				}
				if($(_this).text() == "修改密码"){
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).text());
					return;
				}
				if($(_this).attr("class") == "menuFA"){
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).text());
				}else{
					//显示父菜单
//		$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).parent().parent().siblings(".menuFA").text());
					//显示子菜单
					$("#frameMainTitle span").html('<i class="iconfont icon-xianshiqi"></i>'+$(_this).text());
				}

				//处理菜单样式变化
				$(_this).css("cssText", "background-color:#fbcc19 !important;").css("color","#FFF");
				$(_this).parent().siblings().find("a").css("cssText", "background-color:#transparent").css("color","#c2c2c2");
				$(_this).parent().parent().parent().siblings().find("dl dt a").css("cssText", "background-color:#transparent").css("color","#c2c2c2")

			};

		</script>
	</head>

	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label"><h2>账号名称</h2></label>
					<div class="layui-input-inline shortInput">
						<label><h3>[[${manager.username}]]</h3></label>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><h3>权限</h3></label>
					<div class="layui-input-inline shortInput">
						<label><h3>[[${manager.roleid==1?'超级管理员':'普通管理员'}]]</h3></label>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><h3>登录时间</h3></label>
					<div class="layui-input-inline shortInput">
						<label><h3><p id="nowTime"></p></h3></label>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn"><a href="javascript:void(0)" onclick="menuCAClick('/manage/toModify_password?managename=',this)">修改密码</a></button>
					</div>
				</div>
			</form>
			<script type="text/javascript" src="/js/base.js"></script>
			<script>
				layui.use('form', function() {
					var form = layui.form;
					//监听提交
					form.on('submit(submitBut)', function(data) {
						layer.msg(JSON.stringify(data.field));
						return false;
					});
				});
				$(function(){
					//显示登录时间
					$("#nowTime").html(getDate());
				});
			</script>

		</div>
	</body>

</html>