<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Shopping Cart | Bookshop Responsive Bootstrap4 Template - SHARED ON THEMELOCK.COM</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/front/images/favicon.ico">
	<link rel="apple-touch-icon" href="/front/images/icon.png">

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/front/css/bootstrap.min.css">
	<link rel="stylesheet" href="/front/css/plugins.css">
	<link rel="stylesheet" href="/front/style.css">

	<!-- Cusom css -->
   <link rel="stylesheet" href="/front/css/custom.css">

	<!-- Modernizer js -->
	<script src="/front/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Header -->
		<div th:replace="~{commons/bar::#wn__header}"></div>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Shopping Cart</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/front/index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Shopping Cart</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">               
                            <div class="table-content wnro__table table-responsive">
                                <table>
                                    <thead>
                                        <tr class="title-top" style="font-size: medium">
                                            <th class="product-thumbnail">图片</th>
                                            <th class="product-name">名称</th>
                                            <th class="product-price">价格</th>
                                            <th class="product-quantity">数量</th>
                                            <th class="product-subtotal">总价</th>
                                            <th class="product-remove">移除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="list:${lists}">
                                            <td class="product-thumbnail"><a href="#"><img th:src="${list.img}" alt="product img"></a></td>
                                            <td class="product-name"><a href="#" th:text="${list.name}">Natoque penatibus</a></td>
                                            <td class="product-price"><span class="amount" th:text="${list.price}">$165.00</span></td>
                                            <td class="product-quantity"><input type="number" value="1" th:value="${list.count}"></td>
                                            <td class="product-subtotal" th:text="${list.totalPrice}">$165.00</td>
                                            <td class="product-remove"><a href="#">X</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form> 
                        <div class="cartbox__btn">
                            <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                              <div style="font-size: large" id="total">总价：100000</div>
                              <li id="checkout"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>  
        </div>
        <!-- cart-main-area end -->
		<!-- Footer Area -->
		<div th:replace="~{commons/bar::#wn__footer}"></div>
		<!-- //Footer Area -->

	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="/front/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="/front/js/popper.min.js"></script>
	<script src="/front/js/bootstrap.min.js"></script>
	<script src="/front/js/plugins.js"></script>
	<script src="/front/js/active.js"></script>
  <script src="/front/js/cart.js"></script>
	
</body>
</html>