<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>注册界面</title>
		<!-- Bootstrap core CSS -->
		<!--../static/-->
		<link href="asserts/css/bootstrap.min.css" rel="stylesheet" th:href="@{/front/asserts/css/bootstrap.min.css}">
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css" rel="stylesheet" th:href="@{/front/asserts/css/signin.css}">
	</head>

	<body class="text-center">
		<form class="form-signin" action="" th:action="@{/register}" method="post">
			<img class="mb-4" th:src="@{/front/asserts/img/bootstrap-solid.svg}" src="/front/asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" >欢迎来到注册界面</h1>
      <p style="color: red" th:text="${msg}"  ></p>
			<label class="sr-only" >用户名</label>
			<input type="text" name="username" class="form-control" placeholder="Username" th:placeholder="用户名" required="" autofocus="">
			<label class="sr-only" >密码</label>
			<input type="password" name="password" class="form-control" placeholder="Password" th:placeholder="密码" required="">
			<div class="checkbox mb-3">
				<br>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" >注册</button>
			<p class="mt-5 mb-3 text-muted">© 2019</p>
		</form>

	</body>

</html>