<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jincheng.bookmanage.dao.BookTypeDao">


	<!--查询图书类型-->
	<select id="findAll" resultType="com.jincheng.bookmanage.entity.BookType">
		select * from booktype
	</select>




</mapper>